# Python önbellek dosyaları
__pycache__/
*.py[cod]

# GADDAG derlenmiş ağaç dosyası
*.gaddag

# Test için kullanılan resimler (Örnek resimler hariç tutulabilir)
test_resimleri/
adb_snap_*.jpg

# Çevre değişkenleri ve gizli dosyalar
.env
.DS_Store
